a {
  color: #444;
}
.subhead-lumoz {
  color: rgb(119, 118, 118) !important;
  font-size: 1.2rem;
  margin-top: -20px;
}

.lumoz-logo {
  margin-left: 10px;
}
#lumoz-download-btn {
  margin-top: 12px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
section {
  padding: 5em 2em;
}
.hero {
  text-align: center;
}
.left-col .subhead {
  text-transform: uppercase;
  font-weight: bold;
  color: gray;
  letter-spacing: 0.3em;
}
.left-col h1 {
  font-size: 2.5em;
  line-height: 1.3em;
  margin-top: 0.2em;
}
.left-col .primary-cta {
  background: #007af3;
  color: white;
  text-decoration: none;
  padding: 0.6em 1.3em;
  font-size: 1.4em;
  border-radius: 5em;
  font-weight: bold;
  display: inline-block;
}

.left-col .watch-video-cta {
  display: block;
  margin-top: 1em;
}
.left-col .watch-video-cta img {
  margin-right: 0.5em;
}
.hero-img {
  width: 70%;
  margin-top: 3em;
}
section.features-section {
  background: #20272e;
  color: white;
}
